.post {
    flex: 0 1 32%;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 20px;
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    @media (max-width: 922px) {
        flex: 0 1 48%;
        margin-top: 15px;
    }
    @media (max-width: 600px) {
        flex: 0 1 95%;
    }
    &:not(:nth-child(-n + 3)) {
        margin-top: 15px;
    }
    &__title {
        font-weight: 400;
        font-size: 22px;
        color: rgb(101, 174, 241);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        &:first-letter {
            text-transform: capitalize;
        }
    }
    &__text {
        margin-bottom: 10px;
        font-size: 18px;
        flex: 1 1 100%;
        &:first-letter {
            text-transform: capitalize;
        }
    }
    &__author {
        font-size: 16px;
        color: darkgrey;
    }
}
